<app-menu></app-menu>
 <div class='component-content'>
 <div>
<!--    <div class='righthalf'>-->
    <span class='component-title'>[{{title}}]</span> 
    <span><a routerLink='/Product/create'>
        <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a></span>
</div>
  
<p *ngIf='!product'> loading ...</p>

<div *ngIf='product'>
    <div class="form-group row">
			<label class='col-form-label col-sm-2' for="vendor">Vendor:</label>
			<div class='col-sm-6 select-list'>
			  <select [(ngModel)]='product.Vendor.Id' [compareWith]='compareFn' class='form-control' name='Vendor' id='product-Vendor'>
                <option *ngFor="let vendor of vendors" [ngValue]="vendor.Id" [selected]="vendor.Id == product.Vendor.Id">{{vendor.Name}}</option>
              </select>
			</div>
		</div>
        
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="productpartnumber">Vendor part name:</label>
      <input [(ngModel)]='product.PartNumber' name = 'PartNumber' type="text" class="form-control col-sm-6" id="Productpartnumber" aria-describedby="vpnHelp" placeholder="PartNumber">
      <small id="vpnHelp" class="form-text text-muted col-sm-2">Product Part Number</small>
    </div>
    
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="name">Name:</label>
      <input [(ngModel)]='product.Name' name = 'Name' type="text" class="form-control col-sm-6" id="productname" aria-describedby="nameHelp" placeholder="Name">
      <small id="nameHelp" class="form-text text-muted col-sm-2">Product's Name</small>
    </div>
    
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="price">Price:</label>
      <input [(ngModel)]='product.Price' name = 'Price' type="text" class="form-control col-sm-6" id="productprice" aria-describedby="priceHelp" placeholder="Price">
      <small id="priceHelp" class="form-text text-muted col-sm-2">Product's Price</small>
    </div>
    
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="unit">Unit:</label>
      <input [(ngModel)]='product.Unit' name = 'Unit' type="checkbox" class="form-control col-sm-6" id="unit" aria-describedby="unitHelp" placeholder="Unit">
      <small id="unitHelp" class="form-text text-muted col-sm-2">Unit Authority</small>
    </div>
    
    <div class="form-group row">
      <label class='col-form-label col-sm-2' for="productphotopath">PhotoPath:</label>
      <input [(ngModel)]='product.PhotoPath' name = 'PhotoPath' type="text" class="form-control col-sm-6" id="photopath" aria-describedby="photopathHelp" placeholder="PhotoPath">
      <small id="photopathHelp" class="form-text text-muted col-sm-2">Product's PhotoPath</small>
    </div>
    
    <div class='form-group'>
      <button (click)='Change()' class='btn btn-primary'>Update</button>
    </div>
        
    </div>
</div>