<app-menu></app-menu> 
<div class='component-content'>
    <div class=''>
    <span class='component-title'>[{{title}}]</span>
    </div>

<p *ngIf='!purchaserequests'>Loading ...</p>

<table class="table table-sm" *ngIf='purchaserequests'> 

<tr>
        <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Id')">Id</a></th>
        <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('UserName')">UserName</a></th>
        <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Description')">Description</a></th>
        <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Status')">Status</a></th>
        <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold" (click)="setSortBy('Total')">Total</a></th>
        <th>Action</th>
</tr>
<!--   for every request of requests review prints to the screen-->
<tr *ngFor='let purchaserequest of purchaserequests | sort:sortBy'>
            <td>{{purchaserequest.Id}}</td>
            <td>{{purchaserequest.UserName}}</td>
			<td>{{purchaserequest.Description}}</td>
			<td>{{purchaserequest.Status}}</td>
			<td>{{purchaserequest.Total | currency}}</td>
    
    <td class='actions'>
    <a routerLink='/purchaserequest/approve/{{purchaserequest.Id}}'><img src='assets/review.png' width='20' height='20' title='Review'></a>
    </td>
</tr>
</table>
<!--<p>{{searchCriteria}}</p>-->
</div>

